.nav {
  height: 75px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: bold;
}

.nav.nav-bg {
  background-color: #ffffff;
  opacity: 0.9;
  color: black;
}

.nav:hover {
  background-color: #ffffff;
  opacity: 0.9;
  color: #000000;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.nav a {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* Dropdown Button */
.dropbtn {
  font-family: "nunito", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  color: inherit;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  font-weight: normal;
  min-width: 160px;
  z-index: 1;
  border-radius: 0 0 5px 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  color: black;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: transparent;
}

.nav__content {
  margin-top: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 100%;
  padding: 0 2rem;
}

.nav__left {
  display: flex;
  align-items: baseline;
}

.nav__right {
  display: flex;
  align-items: baseline;
}

#nav__phonenumber {
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  color: inherit;
}

.dropdown.right {
  margin-right: 40px;
}

.dropbtn.right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #00968f;
  border-radius: 10px;
  padding: 10px 20px;
  color: #3f4444;
}

.dropdown:hover .dropbtn.right {
  background-color: #00968f;
  color: #3f4444;
}

#nav__morearrow {
  margin-left: 5px;
}

.nav__logo {
  font-size: 40px;
}
.nav__links {
  margin-left: 50px;
}
